body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
#map {
  width: 100%;
  height: 255px;
  display: block;
}
.modal .row {
  margin-left: -0.166rem !important;
  margin-right: -0.166rem !important;
}

.panelFullHeight {
  height: 100%;
}

ul#occupancy li {
  width: 29px;
}

.col-180 {
  width: 180px;
}

input#wisdom {
    padding: 4px;
    font-size: 1em;
    width: 100%
}

input::placeholder {
    color: #ccc;
    font-style: italic;
}

p.userRequest {
    margin: 4px;
    padding: 4px 10px 4px 10px;
    border-radius: 4px;
    min-width: 50%;
    max-width: 85%;
    float: left;
    background-color: #e0e0e0;
    color: #444;
}

p.lexResponse {
    margin: 4px;
    padding: 4px 10px 4px 10px;
    border-radius: 4px;
    text-align: right;
    min-width: 50%;
    max-width: 85%;
    float: right;
    background-color: #004990;
    font-style: italic;
    color: #fff;
}

p.lexError {
    margin: 4px;
    padding: 4px 10px 4px 10px;
    border-radius: 4px;
    text-align: right;
    min-width: 50%;
    max-width: 85%;
    float: right;
    background-color: #f77;
    color: #444;
}

.bot {
    width: 100%; height: 400px; border: 1px solid #ccc; background-color: #eee; padding: 4px; overflow: scroll; font-weight: 500
}

.flex-card {
    display: flex;
    flex-direction: row;
}

.flex-area-primary {
    flex-grow: 1;
}