.menu, .menu ul
{
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: relative;
    line-height: 2.5em;
    z-index:1;
}
.menu a
{
    text-decoration: none;
}
.menu > li:first
{
    margin-left:0px!important;
    }
.menu > li > a
{
    padding: 0px 10px;
    margin: 0;
    width: 100%;
    text-decoration: none;
    color: #FFF;
}
div.box
{
    position: absolute;
    z-index: -1;
    background-color: #00467E;
    left: 0;
    top: 0;
}
li.pull-down
{
    padding-right:6px;
    border-right: 1px solid white;
}
li.pull-down > a
{
    background-image: url('../images/menu/darrow.png');
    background-position: 96% 75%;
    background-repeat: no-repeat;
    padding-right: 20px;
}
li.right-menu > a
{
    background-image: url('../images/menu/rarrow.png');
    background-position: 97% 45%;
    background-repeat: no-repeat;
}
.menu a.selected
{
    background-color: #00467E;
}
.menu li
{
    float: left;
    position: relative;
}

.menu-top {
    border-right: 1px solid white;
}

.menu ul
{
    position: absolute;
    display: none;
    width: 200px;
    top: 2.5em; 
    background-color: #00467E; 
}

.menu li ul a
{
    width: 200px;
    height: auto;
    float: left;
    color: #FFFFFF;
    padding: 0 10px;
}
.menu li ul li
{
    padding: 0;
    margin: 0;
}
.menu ul ul
{
    top: auto;
}

.menu li ul ul
{
    left: 198px;
}
.menu-item-selected > a
{
    background-color: #003a73;
}
.menu-item-selected > a:hover
{
    color: #FFFFFF !important;
}

.menu li:hover
{
    color: #FFFFFF !important;
    background-color: #003a73;
}

.menu-box {
    background-color: #004990!important;
    height: 35px;
}
